<!DOCTYPE html>
<html>
<head>
  <title>Easyshopp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
  body{
  	height: 0px;
  }
  </style>
</head>
<body>
<div class="ui inverted masthead centered segment">
    <div class="ui page grid">
      <div class="column">


		<div class="ui secondary pointing menu">
		   <a class="logo item">
		  Easyshopp
		  </a>
		  <a class="active item">
		    <i class="home icon"></i> Home
		  </a>
		  <a id="about" class="item">
		    <i class="mail icon"></i> About
		  </a>
		  <a href ="#contact"class="item">
		    <i class="phone icon"></i> Contact
		  </a>
		  <div class="right menu">
		    <div class="item">
		      <div class="ui icon input">
		        <!--<input placeholder="Search..." type="text">-->
		        <i class="marker icon"></i>
		      </div>
		    </div>
		    <a class="ui item">
		    	<i class="add to cart large icon"></i>
		    </a>

<%#if user_signed_in? %>
<%= link_to 'Log Out', destroy_user_session_path, method: 'destroy', :class =>'ui item' %>
<%#else %>
<%= link_to 'Log In', new_user_session_path, :class =>'ui item' %>
<%#end %>
		  
		  </div>
		</div>
</div>
</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
